body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: hsl(180, 98%, 31%);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  header button {
    background-color: rgb(251, 252, 251); /* Green */
    border-radius: 5px;
    border: 2px solid white;
    color: hsl(180, 98%, 31%);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  header button:hover {
    background-color: hsl(180, 98%, 31%); 
    color: white;
    border-color: #f0f0f0;
    
  }
  
  main {
    background-image: url("pexels-roney-john-602607.jpg");
    background-size:cover ;
    padding: 20px;
    animation: agra 20s ease-in-out infinite;
    animation: agra1 10s linear  ;
  }
  
  main h2, main h3 {
    margin: 10px 0;
  }
  
  main p, main ul {
    line-height: 1.5;
  }
  
  footer {
    background-color: hsl(180, 98%, 31%);
    padding: 10px;
    text-align: center;
  }
  
  footer button {
    margin: 0 5px;
    background-color:white;
    border: 2px white solid;
    border-radius: 5px;
    color: hsl(180, 98%, 31%);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  footer button:hover {
    background-color: #007bff;
    color: white;
  }
  @keyframes agra{
    0%{
        background-image: url("pexels-roney-john-602607.jpg");
    }
    55%{
        background-image:url("wp5328012-taj-mahal-hd-desktop-wallpapers.jpg") ;
    } 
  }
  @keyframes agra1{
    0%{
        color: white;
    }
    100%{
        color: black;
    }

  }
  